@charset "utf-8";
#his{
    border-radius: 5px;
    color: black;
    background-color: red;
    height: 23px;
    display: inline;
}
.inline-block{
    display:inline-block;
}
.inline-block1{
    display:inline-block;
}

#ID1{
    background-color: aqua;
    width: 280px;
    height: 50px;
    border: 1px solid black;
    float: left;
}
#ID2{
    background-color: aqua;
    width: 450px;
    height: 50px;
    border: 1px solid black;
}
#ID3{
    background-color: aqua;
    width: 280px;
    height: 130px;
    border: 1px solid black;
    float: left;
}
#ID4{
    background-color: aqua;
    width: 450px;
    height: 130px;
    border: 1px solid black;
}
#IDh{
    color:black;
    display: inline;
}
#IDb{
    color:black;
    display: inline;
}
#IDp{
    display: inline;
    background-color: aqua;
}
#email{
    display: inline;
}
#name{
    display: inline;
}
#button_style{
    height:40px;
    width: 200px;
}