@charset "utf-8";
h1{
    color: black;
    font-size: 50px;
}
body{
    background-color:gray;
}
table{
    background-color:rgba(64,224,208,0.5);
    margin-bottom: 20px;
}
th,td,table{
    border: 4px solid aqua;
    border-collapse: collapse;
}
th,td{
    color:black;
    font-size: 30px;
}